@model IEnumerable<CsWebApp4.Models.System_Project>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectShort)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectAgreement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectNotes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.System_Company.CompanyName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectShort)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectAgreement)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectNotes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.System_Company.CompanyName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
