@model IEnumerable<CsWebApp4.Models.User_NotaryNo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NotaryNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SignNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NotaryDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.System_Project.ProjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.System_User.UserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NotaryNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SignNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NotaryDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.System_Project.ProjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.System_User.UserName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
