@model IEnumerable<CsWebApp4.Models.System_Company>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyShort)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyImg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyKey)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UrlAPI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NeedBindMobile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NeedBindCard)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyShort)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyImg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyKey)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UrlAPI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NeedBindMobile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NeedBindCard)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
